.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
out/**
node_modules/**
# Bundle some files from ios-deploy
!node_modules/ios-deploy/build/Release/ios-deploy
!node_modules/ios-deploy/package.json